In [1]:
# Advanced Numbers

In [2]:
hex(246)

'0xf6'

In [3]:
hex(15)

'0xf'

In [4]:
hex(512)

'0x200'

In [5]:
bin(123)

'0b1111011'

In [6]:
bin(128)

'0b10000000'

In [7]:
bin(512)

'0b1000000000'

In [8]:
pow(2,4)

16

In [10]:
pow(2,4,3)     # pow(x, y, z) => (x**y) % z

1

In [11]:
abs(2)

2

In [12]:
abs(-4.5)

4.5

In [13]:
round(3.1)

3

In [14]:
round(4.7)

5

In [15]:
round(6.5)

6

In [16]:
round(3.121592, 3)

3.122

In [17]:
# Advanced Strings

In [20]:
s = 'hello world'

In [21]:
s.capitalize()

'Hello world'

In [53]:
upper_s = s.upper()
print(upper_s)

HELLO WORLD

In [54]:
upper_s.lower()

'hello world'

In [26]:
s.count('o')

2

In [27]:
s.find('o')     # finds first occurence

4

In [28]:
s

'hello world'

In [30]:
s.center(20, 'z')     # total length is 20, with s centered between z's

'zzzzhello worldzzzzz'

In [31]:
'hello\thow\tyou\tdoin?!'

'hello\thow\tyou\tdoin?!'

In [32]:
print('hello\thow\tyou\tdoin?!')

hello	how	you	doin?!

In [33]:
'hello\thow\tyou\tdoin?!'.expandtabs()

'hello   how     you     doin?!'

In [34]:
s.isalnum()     # checks if all characters in s are alphanumeric

False

In [45]:
print(s)
s.isalpha()     # checks if all characters in s are alphabets

hello world

False

In [41]:
import re
join_s = ('').join(re.findall('[^ ]+', s))

In [42]:
join_s.isalpha()

True

In [46]:
print(s)
s.islower()

hello world

True

In [48]:
s.isspace()     # s is all whitespaces

False

In [49]:
s.istitle()

False

In [51]:
'Hello World'.istitle()

True

In [52]:
print(s)
s.isupper()

hello world

False

In [55]:
upper_s.isupper()

True

In [58]:
print(s)
print(s.endswith('d'), s.endswith('o'))

hello world
True False

In [59]:
print(s)
s.split('e')     # separates at every occurence of 'e'

hello world

['h', 'llo world']

In [61]:
str = 'hiiihih'
str.split('i')

['h', '', '', 'h', 'h']

In [62]:
print(str)
str.partition('i')     # partitions only at first instance. returns the separator in the middle

hiiihih

('h', 'i', 'iihih')

In [63]:
# Advanced Sets

In [64]:
s = set()

In [65]:
s.add(1)

In [66]:
s.add(2)

In [67]:
s.add(2)

In [68]:
s

{1, 2}

In [70]:
s.clear()

In [71]:
s = {1,2,3}

In [74]:
sc = s.copy()
print(sc)

{1, 2, 3}

In [83]:
s.add(4)
print('s = %s'%s)
print('sc = {}'.format(sc))

s = {1, 2, 3, 4}
sc = {1, 2, 3}

In [84]:
print('s.difference(sc) = %s' % s.difference(sc))
print('sc.difference(s) = %s' % sc.difference(s))

s.difference(sc) = {4}
sc.difference(s) = set()

In [ ]:
# difference update

In [86]:
s1 = {1,2,3}
s2 = {1,4,5}

In [89]:
s1.difference_update(s2)

In [90]:
s1

{2, 3}

In [ ]:

# discard

In [91]:
s

{1, 2, 3, 4}

In [92]:
s.discard(2)

In [93]:
s

{1, 3, 4}

In [94]:
s.discard(12)

In [95]:
s

{1, 3, 4}

In [ ]:
# intersection & intersection update

In [103]:
s1 = {1,2,3}
s2 = {1,2,4}

In [104]:
print(s1.intersection(s2))

{1, 2}

In [105]:
print(s1)
print(s1.intersection_update(s2))
print(s1)

{1, 2, 3}
None
{1, 2}

In [106]:
# isdisjoint

In [107]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {6.7}

In [108]:
s1.isdisjoint(s2)

False

In [109]:
s1.isdisjoint(s3)

True

In [110]:
# subset & superset

In [111]:
s1

{1, 2}

In [112]:
s2

{1, 2, 4}

In [113]:
s1.issubset(s2)

True

In [114]:
s2.issuperset(s1)

True

In [115]:
# symmetric difference

In [123]:
s1 = {1,3,4}

In [124]:
s2 = {1,2,3}

In [125]:
print('s1 = %s'%s1)
print('s2 = {}'.format(s2))
print('s1.symmetric_difference(s2) = %s' % s1.symmetric_difference(s2))
print('s2.symmetric_difference(s1) = %s' % s2.symmetric_difference(s1))

s1.symmetric_difference(s2)

s1 = {1, 3, 4}
s2 = {1, 2, 3}
s1.symmetric_difference(s2) = {2, 4}
s2.symmetric_difference(s1) = {2, 4}

{2, 4}

In [127]:
s1.symmetric_difference_update(s2)

In [128]:
s1

{2, 4}

In [129]:
# Union

In [130]:
s1 = {1,2,3}
s2 = {1,3,4}

In [131]:
s1.union(s2)

{1, 2, 3, 4}

In [135]:
s1 = {1,2,3}
s2 = {1,3,4}
print('s1 = %s'%s1)
print('s2 = {}'.format(s2))
s1.update(s2)
print('s1.update(s2) = %s'%s1)

s1 = {1, 2, 3}
s2 = {1, 3, 4}
s1.update(s2) = {1, 2, 3, 4}

In [136]:
# Advanced Dictionaries

In [137]:
d = {'k1' : 1, 'k2' : 2}

In [138]:
# dictionary comprehension

In [139]:
{x : x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [140]:
{k:v for k,v in zip(['a', 'b'], ['x', 'y'])}

{'a': 'x', 'b': 'y'}

In [143]:
{k:v for k,v in zip(['a', 'b', 'c', 'd'], range(4))}

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

In [144]:
{k:v**2 for k,v in zip(['a', 'b', 'c', 'd'], range(4))}

{'a': 0, 'b': 1, 'c': 4, 'd': 9}

In [148]:
for k,v in d.items():
    print(k,v)

k2 2
k1 1

In [149]:
for k in d.keys():
    print(k)

k2
k1

In [150]:
for v in d.values():
    print(v)

2
1

In [157]:
print(d.items(),'\n',d.keys(),'\n',d.values())

dict_items([('k2', 2), ('k1', 1)])
 dict_keys(['k2', 'k1'])
 dict_values([2, 1])

In [158]:
# Advanced Lists

In [163]:
l = [1,2,2,4]

In [164]:
l.append(5)

In [165]:
l

[1, 2, 2, 4, 5]

In [167]:
l.count(2)

2

In [168]:
l.count(10)

0

In [176]:
# append & extend

In [177]:
x = [1,2,3]
x.append([4,5])
x

[1, 2, 3, [4, 5]]

In [179]:
x = [1,2,3]
x.extend([4,5])
x

[1, 2, 3, 4, 5]

In [180]:
# index

In [181]:
l = [1,2,3,4,5]

In [182]:
l.index(2)

1

In [183]:
l.index(10)

ValueError: 10 is not in list

In [184]:
# insert

In [194]:
l = [1,2,3,4,5]

In [195]:
l.insert(2, 'inserted @ 2')

In [196]:
l

[1, 2, 'inserted @ 2', 3, 4, 5]

In [197]:
# pop

In [198]:
l

[1, 2, 'inserted @ 2', 3, 4, 5]

In [199]:
popped_element = l.pop()
print(popped_element)

5

In [200]:
l

[1, 2, 'inserted @ 2', 3, 4]

In [201]:
l.pop(0)

1

In [202]:
l

[2, 'inserted @ 2', 3, 4]

In [203]:
# remove

In [204]:
l.remove('inserted @ 2')

In [205]:
l

[2, 3, 4]

In [206]:
l = [1,2,3,4,3,2]
l.remove(3)     # removes only the first instance of element

In [207]:
l

[1, 2, 4, 3, 2]

In [208]:
# reverse (reverses in place)

In [210]:
l = [1,2,3,4,5]

In [211]:
l.reverse()

In [212]:
l

[5, 4, 3, 2, 1]

In [213]:
# sort (sorts in place)

In [221]:
l = [1,2,2,3,4,5]

In [223]:
l.reverse()
print(l)
print(l.reverse(), l.sort())
print(l)

[5, 4, 3, 2, 2, 1]
None None
[1, 2, 2, 3, 4, 5]