In [1]:
# Counter

In [3]:
from collections import Counter

In [5]:
l = [1,1,1,1,2,2,5,5,5,3,7,7,7,3,3,5,5,8,8,6,6,7,7,7,9,9,9,9]

Counter(l)

Counter({1: 4, 2: 2, 3: 3, 5: 5, 6: 2, 7: 6, 8: 2, 9: 4})

In [14]:
d = Counter(l)

print(d.items())
print(d.keys())

dict_items([(1, 4), (2, 2), (3, 3), (5, 5), (6, 2), (7, 6), (8, 2), (9, 4)])
dict_keys([1, 2, 3, 5, 6, 7, 8, 9])

In [16]:
str = 'akhbiwejhfgabnflakeeiieaafiapfna'
Counter(str)

Counter({'a': 7,
         'b': 2,
         'e': 4,
         'f': 4,
         'g': 1,
         'h': 2,
         'i': 4,
         'j': 1,
         'k': 2,
         'l': 1,
         'n': 2,
         'p': 1,
         'w': 1})

In [18]:
str = 'How many times does each word show up in this sentence times many word word show word up sentence how'

In [20]:
words = str.split()

Counter(words)

Counter({'How': 1,
         'does': 1,
         'each': 1,
         'how': 1,
         'in': 1,
         'many': 2,
         'sentence': 2,
         'show': 2,
         'this': 1,
         'times': 2,
         'up': 2,
         'word': 4})

In [23]:
cntr = Counter(words)

cntr.most_common(2)

[('word', 4), ('show', 2)]

In [26]:
sum(cntr.values())

20

In [28]:
l = list(cntr)
d = dict(cntr)
s = set(cntr)

In [30]:
l

['does',
 'in',
 'how',
 'show',
 'times',
 'each',
 'up',
 'How',
 'this',
 'word',
 'sentence',
 'many']

In [31]:
d

{'How': 1,
 'does': 1,
 'each': 1,
 'how': 1,
 'in': 1,
 'many': 2,
 'sentence': 2,
 'show': 2,
 'this': 1,
 'times': 2,
 'up': 2,
 'word': 4}

In [32]:
s

{'How',
 'does',
 'each',
 'how',
 'in',
 'many',
 'sentence',
 'show',
 'this',
 'times',
 'up',
 'word'}

In [35]:
cntr.items()     # converts to a list of (elem, count) pairs

dict_items([('does', 1), ('in', 1), ('how', 1), ('show', 2), ('times', 2), ('each', 1), ('up', 2), ('How', 1), ('this', 1), ('word', 4), ('sentence', 2), ('many', 2)])

In [36]:
# Default Dictionary

In [37]:
from collections import defaultdict

In [41]:
d = {'k1' : 1}

In [43]:
d['k1']

1

In [45]:
d['k2']

KeyError: 'k2'

In [60]:
d = defaultdict(object)

In [61]:
d

defaultdict(object, {})

In [62]:
d['k1']

In [63]:
d['one']

In [64]:
d

defaultdict(object,
            {'k1': <object at 0x7fb906077420>,
             'one': <object at 0x7fb906077430>})

In [65]:
for item in d:
    print(item)

one
k1

In [66]:
d = defaultdict(lambda: 0)

In [67]:
d['one']

0

In [68]:
d['two']

0

In [69]:
d

defaultdict(<function __main__.<lambda>()>, {'one': 0, 'two': 0})

In [70]:
# Ordered Dictionary

In [93]:
d = {}

d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [94]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [95]:
for k,v in d.items():
    print(k, v)

a 1
b 2
e 5
d 4
c 3

In [96]:
from collections import OrderedDict

In [97]:
d = OrderedDict()

In [98]:
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [99]:
for k,v in d.items():
    print(k, v)

a 1
b 2
c 3
d 4
e 5

In [100]:
d1 = {}
d1['a'] = 1
d1['b'] = 2

d2 = {}
d2['b'] = 2
d2['a'] = 1

In [101]:
d1 == d2

True

In [102]:
d1 = OrderedDict()
d1['a'] = 1
d1['b'] = 2

d2 = OrderedDict()
d2['b'] = 2
d2['a'] = 1

In [104]:
d1 == d2

False

In [105]:
# Named Tuple

In [106]:
t = (1,2,3)

In [107]:
t[0]

1

In [122]:
from collections import namedtuple

In [123]:
Dog = namedtuple('Doggo', 'breed age name')

In [125]:
dog = Dog(age=2, breed='Husky', name='Viola')

In [126]:
dog

Doggo(breed='Husky', age=2, name='Viola')

In [128]:
dog.breed

'Husky'

In [129]:
dog.name

'Viola'

In [130]:
Cat = namedtuple('Kitty', 'fur name claws')

In [131]:
peppers = Cat(name='Peppers', claws=False, fur='fuzzy')

In [132]:
peppers.claws

False

In [133]:
# Datetime

In [134]:
import datetime

In [135]:
t = datetime.time(5,25,1)

In [137]:
print(t)

05:25:01

In [138]:
t.hour

5

In [139]:
t.minute

25

In [140]:
t.second

1

In [141]:
t.microsecond

0

In [143]:
print(datetime.time.min)

00:00:00

In [144]:
print(datetime.time.max)

23:59:59.999999

In [145]:
print(datetime.time.resolution)

0:00:00.000001

In [146]:
today = datetime.date.today()

In [147]:
print(today)

2019-08-01

In [148]:
today.timetuple()

time.struct_time(tm_year=2019, tm_mon=8, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=213, tm_isdst=-1)

In [149]:
today.day

1

In [150]:
today.month

8

In [152]:
print(datetime.date.min)

0001-01-01

In [154]:
print(datetime.date.resolution)

1 day, 0:00:00

In [155]:
d1 = datetime.date(2015,3,11)

In [156]:
print(d1)

2015-03-11

In [157]:
d2 = d1.replace(year=1990)

In [158]:
print(d2)

1990-03-11

In [159]:
d1 - d2

datetime.timedelta(9131)

In [162]:
# Python Debugger

In [ ]:
import pdb

In [ ]:
x = [1,3,4]
y = 2
z = 3

result = y + z
print(result)

pdb.set_trace()

result2 = y + x
print(result2)