In [ ]:
###################### FOR LOOPS #########################

In [1]:
str = 'Hello World'

for letter in str:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [2]:
tup = (1,6,3,8,3,7,2,3,9,0)

for num in tup:
    print(num)

1
6
3
8
3
7
2
3
9
0

In [4]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

# for (a,b) in mylist:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [5]:
d = {'k1':1, 'k2':2, 'k3':3}

for key, value in d.items():
    print(key, '\t', value)

k2 	 2
k1 	 1
k3 	 3

In [ ]:
################## WHILE LOOPS #####################

In [9]:
x = 0

while x < 5:
    print('5 pow {exponent} is {output}'.format(exponent=x, output=5**x))
    x+=1
else:
    print('x is greate than 5 !!')

5 pow 0 is 1
5 pow 1 is 5
5 pow 2 is 25
5 pow 3 is 125
5 pow 4 is 625
x is greate than 5 !!

In [ ]:
######################## BREAK, CONTINU, PASS ###########################

In [15]:
x = [1,2,3]

for item in x:
    # comment
    pass

print('End of Script')

str = 'Sammy is a manic teetotaler'

for letter in str:
    if letter == 'm':
        continue
    if letter == 'o':
        break
    print(letter)

End of Script
S
a
y

i
s

a

a
n
i
c

t
e
e
t

In [ ]:
######################## USEFUL FXNS. #########################

In [16]:
for num in range(0,12,3):
    print(num)

0
3
6
9

In [17]:
list(range(0,21,4))

[0, 4, 8, 12, 16, 20]

In [18]:
# for item in enumerate('Sammy is a manic teetotaler'):
    ## item is a tuple : (indx, lttr)

for indx, lttr in enumerate('Sammy is a manic teetotaler'):
    if lttr == ' ':
        continue
    print('letter at index {} : {}'.format(indx, lttr))

letter at index 0 : S
letter at index 1 : a
letter at index 2 : m
letter at index 3 : m
letter at index 4 : y
letter at index 6 : i
letter at index 7 : s
letter at index 9 : a
letter at index 11 : m
letter at index 12 : a
letter at index 13 : n
letter at index 14 : i
letter at index 15 : c
letter at index 17 : t
letter at index 18 : e
letter at index 19 : e
letter at index 20 : t
letter at index 21 : o
letter at index 22 : t
letter at index 23 : a
letter at index 24 : l
letter at index 25 : e
letter at index 26 : r

In [23]:
l1 = [1,2,3]
l2 = ['a','b','c']

print(zip(l1,l2))
print(list(zip(l1,l2)))

for item in zip(l1,l2):
    print(item)

<zip object at 0x7f74dc242dc8>
[(1, 'a'), (2, 'b'), (3, 'c')]
(1, 'a')
(2, 'b')
(3, 'c')

In [26]:
d = {'mykey' : 345}

print(345 in d.values())
print(345 in d.items())

True
False

In [39]:
from random import shuffle, randint

l = [1,2,3,4,5,6,7,8,9]
random_list = shuffle(l)

print(l)
print(random_list)

[1, 8, 2, 4, 7, 9, 5, 6, 3]
None

In [42]:
randint(0,10)

5

In [43]:
name = input('Enter your name.')

Enter your name.Suneet

In [45]:
name

'Suneet'

In [46]:
num = input('Enter a number')

Enter a number69

In [47]:
num

'69'

In [50]:
print(int(num), float(num))

num = float(input('Enter a number'))

69 69.0
Enter a number6969

In [51]:
num

6969.0

In [ ]:
################## LIST COMPREHENSIONS #####################

In [53]:
mystring = 'That\'s All Folks!!!'

mylist = [letter for letter in mystring]
print(mylist)

['T', 'h', 'a', 't', "'", 's', ' ', 'A', 'l', 'l', ' ', 'F', 'o', 'l', 'k', 's', '!', '!', '!']

In [55]:
range_list = [x**2 for  x in range(0,31,3)]

print(range_list)

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

In [61]:
conditioned_list = [x**2 for  x in range(0,31,3) if x%2==0]

print(conditioned_list)

[0, 36, 144, 324, 576, 900]

In [59]:
celsius = [0,10,20,30,34.5]

farenheit = [((9/5)*temp + 32) for temp in celsius]

print(farenheit)

[32.0, 50.0, 68.0, 86.0, 94.1]

In [66]:
conditioned_list = [x if x%2==0 else 'ODD' for  x in range(0,31)]

print(conditioned_list)

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD', 12, 'ODD', 14, 'ODD', 16, 'ODD', 18, 'ODD', 20, 'ODD', 22, 'ODD', 24, 'ODD', 26, 'ODD', 28, 'ODD', 30]

In [68]:
nested_loop_list = [x*y for x in [5,10,15] for y in [20, 25, 30]]

print(nested_loop_list)

[100, 125, 150, 200, 250, 300, 300, 375, 450]

In [70]:
l = [1,2,3]

l.insert(1,7)

l.extend([5,6,7])

print(l)

[1, 7, 2, 3, 5, 6, 7]